.mainContainer{
  /*border:1px solid tomato;*/
}

.headerContainer{
  padding-top: 16px;
}


.totalItemsContainer{
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-right: 8px;
}

.totalItemsContainer .totalItems{
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  color: #4795d6;
  top: -5px;
  right: 1px;
  font-weight: bold;

}

.totalItemsContainer  .shoppingButton{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    outline: none;
    border-color: #fff;
}

.shoppingButton:active{
  border-style: outset
}



.totalItemsContainer button i{
  font-size: 16px;
  color: #4795d6;
}

.logoContainer{
  width: 150px;
  height: 100px;
  margin: 0 auto;
}

.logoContainer img{
  width: 100%;
}

.foodListContainer{
  display: flex;
  flex-direction: column;
  /*border: 2px solid green; */
  width: 100px;
}

.countriesAndDishesContainer{
  /*border:2px solid pink; */
  display: flex;
  justify-content: space-between;
}

.foodContainer{
 /*  border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

}

.mexican{
  color: #4795D6;
}

.dominican{
  color: #FFDA5C;
}

.ecuatorian{
  color: #fa6d58;
}

.peruvian{
  color: #F79E54;
}

.colombian{
  color: #4795d6;
}

.background-mexican{
  background-color:  #4795D6;
  color: #fff;
}

.background-dominican{
  background-color:  #FFDA5C;
  color: #fff;
}

.background-ecuatorian{
  background-color: #fa6d58;
  color: #fff;
}

.background-peruvian{
  background-color:  #F79E54;
  color: #fff;
}

.background-colombian{
  background-color:  #4795d6;
  color: #fff;
}


.countryTitle h1{
  font-size: 11px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}


.containerDishesList{
  /*border: 2px solid blue;  */

}

.dishesList{
  /*height: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*border: 2px solid green; */
  padding-top: 20px;
  padding-bottom: 20px;

}

.dish{
  width: 200px;
  border-radius: 15px 0 0 15px;
  /*border: 2px solid tomato; */
  padding-bottom: 16px;
}

.dish .dishImage{
 /* border:1px solid blue; */
 position: relative; 
 margin: 0 auto;

}

.dish .dishImage .description{
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  font-size: 10px;
  font-weight: bold;
}

.dish .dishContent{
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dish .dishImage img{
  width: 100%;
  height: 132px;
  border-top-left-radius: 15px;
  vertical-align: bottom;
}


.dish .dishContent .dishPrice{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  /*border:1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;

}

.dish .dishContent .dishTitleDescription{
 /* border:1px solid green; */
  width: 100px;
  text-align: center;
}

.dish .dishContent .dishTitleDescription .dishTitle{
  font-size: 14px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}

.dish .dishContent .dishTitleDescription .dishDescription{
  font-size: 12px;
}


.dish .dishContent .dishUpDownButtons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dish .dishContent .dishUpDownButtons .ordered{
  font-size: 12px;
}

.btn{
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
}

.btnUpDown{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
}

.btnUpDown:active{
  border-style: outset
}


.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}


.viewOrderContainer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
 }

.viewOrderContainer .viewOrderButton{
  width: 100%;
  height: 100%;
  background-color: tomato;
  color: white;
  text-align: center;
  border: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  font-weight: bold;
}